*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  background: aliceblue;
  text-align: center;
  padding: 2rem;
}

.optionBtn{
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 1rem;
  width: 100%;
}

.selectedOptionBtn{
  background: blue;
  color: white;
}

.submitBtn{
  background: lightgreen;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  margin: 1rem;
  border: none;
}
.quiz-container{
  margin: 2rem 0 2rem 0;
}



.pointerBtns{
  display: flex;
  justify-content: space-between;
}

.pointerBtns button{
  padding: 0.2rem;
  margin: 0.2rem;
}